<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
            <a class="navbar-brand" href="/">Jeux de société</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                
              </ul>
            <div class="nav-item d-flex justify-content-end">
                <a href="{{ path('jeu_index') }}" class="nav-link admin ">
                    <span class="fa fa-user mr-1" style="font-size:1.3rem;"></span> ADMIN
                </a>
            </div>

            </div>
        </nav>

